<div tabindex="0">
    <div>
        <div class="row" v-if="showToolbar">
            <div class="col-md-4" style="margin-left: 18px;padding-top:5px">
                <input type="text" placeholder="Unnamed workflow" class="form-control" :value="workflow.name" @keyup="doChangeWorkflowName" />
            </div>
            <div class="col-md-7" v-if="showToolbar">
                <div class="buttons-toolbar btn-group pull-right diagram-toolbar">
                    <button class="btn btn-success btn-sm" v-on:click="saveWorkflow"><span class="fa fa-save"></span> Save</button>
                    <button class="btn btn-primary btn-sm add-margin" v-on:click="onClickExecute"><span class="fa fa-play"></span> Execute</button>
                    <!--
                    <button class="btn btn-default btn-sm" v-on:click="load"><span class="fa fa-folder-open-o"></span></button>
                    -->

                    <button class="btn btn-default btn-sm" v-on:click="zoomIn" :disabled="!zoomInEnabled"><span class="fa fa-search-plus"></span> Zoom in</button>
                    <button class="btn btn-default btn-sm add-margin" v-on:click="zoomOut" :disabled="!zoomOutEnabled"><span class="fa fa-search-minus"></span> Zoom out</button>

                    <button class="btn btn-default btn-sm" v-on:click="align('left', 'min')" :disabled="!zoomInEnabled"><span class="fa fa-arrow-left"></span></button>
                    <button class="btn btn-default btn-sm" v-on:click="align('left', 'max')" :disabled="!zoomInEnabled"><span class="fa fa-arrow-right"></span></button>

                    <button class="btn btn-default btn-sm" v-on:click="align('top', 'min')" :disabled="!zoomOutEnabled"><span class="fa fa-arrow-up"></span></button>
                    <button class="btn btn-default btn-sm add-margin" v-on:click="align('top', 'max')" :disabled="!zoomOutEnabled"><span class="fa fa-arrow-down"></span></button>

                    <div class="pull-right">{{zoomPercent}}</div>
                    <button class="btn btn-danger btn-sm add-margin pull-right" v-on:click="deleteSelected"><span class="fa fa-remove"></span> Remove selected</button>
                </div>
            </div>
        </div>
        <div class="buttons-toolbar btn-group pull-right diagram-toolbar" v-if="showToolbar">
        </div>
    </div>
    <div class="lemonade-container" id="lemonade-container">
        <div class="lemonade" v-on:drop="drop" v-on:dragover="allowDrop" id="lemonade-diagram" v-on:click="diagramClick" :show-task-decoration="false">
            <task-component v-for="task of tasks" :task="task" :instance="instance" :key="task.id" 
                :show-decoration="showTaskDecoration"></task-component>
            <flow-component v-for="flow of flows" :flow="flow" :instance="instance"></flow-component>
            <div class="ghost-select"><span></span></div>
        </div>
    </div>
    <modal-component v-if="showExecutionModal" @close="showExecutionModal = false">
        <div slot="header">
            <h4>Execution of workflow</h4>
            Please, complete the required information for the execution of the workflow:
        </div>
        <div class="body" slot="body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label>Cluster:</label>
                        <select class="form-control">
                            <option value="1">Default</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label>Missing required parameters:</label>
                        <p>
                        There is no missing required parameter
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <button class="btn btn-primary" @click="execute"><span class="fa fa-play"></span> Execute</button>
            <button class="btn btn-danger" @click="cancelExecute">Cancel</button>
        </div>
    </modal-component>
</div>