//@import "./node_modules/font-awesome/scss/font-awesome.scss";

@import "../../..//node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../node_modules/font-awesome/scss/variables";
@import "../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";


$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
/* Colors */

$color1: rgba(228, 87, 46, 1);
$color2: rgba(41, 51, 92, 1);
$color3: rgba(242, 141, 0, 1);
$color4: rgba(168, 198, 134, 1);
$color5: rgba(102, 155, 188, 1);
$color6: #fafafa;

$elementWidth: 180px;
$elementHeight: 45px;

.has-2-ports {
        text-align: center;
        max-width: $elementWidth / 2;
}
.has-3-ports {
        margin: 10px 0;
        padding: 0px 5px;
        text-align: center;
        max-width: $elementWidth / 3;
        font-size:.8em;
}

.sample {
    display: none;
}
/* Elements */
body {
        padding-top: 60px;
}

.buttons-toolbar {
    background: white;
    padding: 5px;
    width: 100%;
    z-index: 100;
}
.no-padding {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.small-padding {
    [class*="col-"] {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
.card-content {
    background: white;
}

.jsplumb-overlay.labelClass {
    cursor: pointer;
}
.labelClass {
    background: white;
}
li.dragging {
    color: $color2;
    padding-top: 15px;
    list-style-type: none;
    width: $elementWidth;
    height: $elementHeight;
    border: 1px solid $color2;
    border-radius: 10px;
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    .fa-grip {
        display: none;
    }
}
.diagram-toolbar {
        .add-margin {
                margin-right: 5px !important;
        }
}
.lemonade-container {
    //background: url(grid1.png);
    height: calc(100vh - 186px); 
    overflow:hidden;
    position: relative; 
    width:100%; 
}
#lemonade-diagram {
    width: 2000px;
    height: 4000px;
    .ghost-active {
        display: block !important;
    }
    .ghost-select > span {
        border: 1px dashed #000;
        width: 100%;
        height: 100%;
        float: left;
    }
    .ghost-select {
        display: none;
        width: 100px;
        height: 100px;
        z-index: 100000;
        position: absolute !important;
        cursor: default !important;
    }
}
.with-grid {
    background-image: url(grid1.png);
}

#lemonade, .lemonade {
    position: relative;
    margin-top: 0px;
    z-index: 0;
    min-height: calc(690px * (90/150));
    height: 5000px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;     /* Chrome/Safari/Opera */
    -khtml-user-select: none;        /* Konqueror */
    -moz-user-select: none;            /* Firefox */
    -ms-user-select: none;             /* Internet Explorer/Edge */
    user-select: none;                     /* Non-prefixed version, currently
                                                                not supported by any browser */

    .task {
        border-width: 1px;
        font-family: Verdana;
        font-size: 7pt;
        background: white;
        opacity: 1;
        
        &.completed {
            border: none;
        };
        /*&.interrupted, &.canceled, &.error, &.canceled,*/
        &.running, &.highlight {
            border: 1px dashed red !important;
            box-shadow: 0px 0px 50px #a93;
            -moz-box-sha: 0px 0px 50px #a93;
            -webkit-box-: 0px 0px 50px #a93;
        };
        .decor {
                color: #aaa;
                background-color: #fff;
                border-radius: 20px;
                padding: 0px;
                position: absolute;
                right: -10px;
                display: block;
                top: -10px;
                height: 20px;
                width: 20px;
                text-align: center;
                &.completed {
                        color: seagreen;
                        span {
                                @extend .fa-check;
                        }
                }
                &.running {
                        color: dodgerblue;
                        span {
                                @extend .fa-spin;
                                @extend .fa-refresh;
                                display: block;
                                width: 16px;
                                height: 16px;
                                display:inline-block;
                                text-align: center;
                                vertical-align: bottom;
                        }
                }
                &.interrupted {
                        color: black;
                        span {
                                @extend .fa-hand-stop-o;
                        }
                }
                &.canceled {
                        color: darkgray;
                        span {
                                @extend .fa-close;
                        }
                }
                &.waiting {
                        color: #aaa;
                        span {
                                @extend .fa-clock-o;
                        }
                }
                &.error {
                        color: red;
                        span {
                                @extend .fa-warning;
                        }
                }
        }
        &.service {
            background-color: lighten($color5, 30%) !important;
        }
        &.comment {
            z-index: 1;
            .decor {
                    display: none;
            }
            strong {
                    display: none;
            }
            em {
                font-family: Verdana !important;
                vertical-align: top !important;
                bottom: inherit;
                margin-top: 3px;
                font-size: 8pt !important;
                top: 5%;
            }
            em:before {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f08d     ";
            }
            div.title {
                background: transparent !important;
            }
            background:#ffffa5;
            overflow-y: auto;
            border: none !important; 
            border-radius: 0 !important;
            padding:10px !important; 
            font-family: 'Gloria Hallelujah', cursive; 
            font-size: 1.2em; 
            color: #000; 
            width: 200px !important;
            height: 80px !important;
            /*
            -moz-transform: rotate(2deg);
            -webkit-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
            */
            box-shadow: 0px 4px 6px #333;
            -moz-box-shadow: 0px 4px 6px #333;
            -webkit-box-shadow: 0px 4px 6px #333;
        }
        &.data-source {
            background-color: lighten($color1, 30%);
        }
        &.algorithm {
            background-color: lighten($color4, 30%);
        }
        &.model {
            background-color: lighten($color3, 30%);
        }
        &.selected {
            box-shadow: -2px 1px 6px 0px    $color3;
        }
        em {
            top: 55%;
            padding: 0 5px;
            position: absolute;
            font-style: normal;
            font-family: Verdana,Tahoma, Geneva, sans-serif;
            font-size: 6pt !important;
        }
        &.operation {
            border: $color2 1px solid;
            border-radius: 5px;
            color: $color2;
            cursor: move; /* fallback if grab cursor is unsupported */
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            
            height: $elementHeight;
            padding: 0px;
            position: absolute;
            width: $elementWidth;
            z-index: 2;
            &.jsplumb-drag-selected {
                box-shadow: -2px 1px 6px 0px #f28d00;
            }
            .title {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
        &.operation:after {
                mix-blend-mode: difference;
        }
        strong {
            position: absolute;
            text-align: center;
            top: 10%;
            width: 100%;
            border-bottom: 1px solid $color2;
            font-size: 1.2em;
            font-family: Arial, Helvetica, sans-serif;
        }
        span {
            xfont-size: 12pt;
        }
        p {
            border-top: 1px solid $color2;
        }
    }
}
.endpoint {
    opacity: 1;
    background: white;
    &.many-endpoint {
        background-color: red;
    }
}
.endpoint-label {
    color: $color5;
    background: /*$color6*/ transparent;
    font-size: 8pt;
    &.input {
        margin-top: -20px;
    }
    &.output {
        margin-top: 20px;
    }
}
.xendpoint:hover {
    opacity: 1;
    background-color: $color3;
}
li .list-group-item{
    list-style-type: none;
    font-size: 9pt;
    padding:5px 5px;
    font-weight: bold;

}
/**/
.glyphicon {
    @extend .fa
}
.glyphicon-remove {
    @extend .fa-remove
}
.icon-union:before {
    content: "\222A";
}
.icon-intersection:before {
    content: "\2229";
}
.icon-projection:before {
    content: '\03C3';
}
.jsplumb-drag-selected {
        border-width: 2px !important;
        border-color: $color5 !important;
}
.jsplumb-endpoint {
    background: transparent;
}
.jsplumb-connector {
    z-index: 2;
}
.log-item {
  margin-right: 10px;
}
.log-enter-active, .log-leave-active {
  transition: all 2s;
  font-weight: bold;
}
.log-enter, .log-leave-to /* .list-leave-active for <2.1.8 */ {
  opacity: 0;
  color: red;
  /*transform: translateY(5px);*/
}
/* \f142 is ellipsis-v */
/* \202F is thin unbreakable space */
.fa.fa-grip:before {
    content: "\f142\202F\f142\202F\f142";
}
.drop-menu-item-2, .drop-menu-item-3 {
    border-bottom: 1px solid #aaa;
    li {
        padding-left: 20px;
    }
}
.list-group-item {
    border: none !important;
    border-bottom: 1px dotted #aaa !important;
}
.list-group-item:last-child, .list-group-item:first-child {
    border-radius: 0 !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}