<div class="expression-editor">
    <button class="btn btn-default" @click="showModal = true">
        <span class="fa fa-gear"></span> Open editor
    </button>

    <modal-component v-if="showModal" @close="showModal = false"
                :onOkClick="ok" :onCancelClick="cancel">
        <div slot="header">
            <h4>Expression</h4>
            <em>Construct an expression to transform data</em>
        </div>
        <div class="body" slot="body">
            <textarea type="text" class="form-control" @keyup="changed" @paste="changed">{{jsExpression}}</textarea>
            <div :class="{hide: error === null || error === ''}">
                <div class="label label-danger">
                    {{error}}
                </div>
            </div>
            <pre style="height: 300px; overflow:auto"><code>{{ tree }}</code></pre>
        </div>
    </modal-component>
</div>