<div>
    <label>Field selection</label>


    <v-select multiple :value.sync="selected" :options="options"></v-select>

    <div class="radio radio-primary">
        <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire">Remove entire row </label><br/>
        <input type="radio" name="clean-option" id="replace-with-media"/> <label for="replace-with-media">Replace with media </label><br/>
        <input type="radio" name="clean-option" id="replace-with-default"/> <label for="replace-with-default">Replace with default zero (zero for numeric, empty for string) </label>
    </div>
</div>