$defaultFontSize: .75rem;

.lemonade-properties {
    #properties-form {
        height: calc(100vh - 331px); width: 100%;
        padding: 2px;
    }

    .card-block {
        padding: 5px !important;
    }
    .property-description {
        background: #eee;
        border: 1px solid #222;
        bottom: 10px;
        font-size: 0.75rem;
        height: 100px;
        padding: 2px; 
        position: absolute;
        width: calc(100% - 6px);
        left: 4px;
    }

    table {
        font-size: $defaultFontSize;
        
        .form-control {
            font-size: $defaultFontSize;
        }
        td, th {
            padding: 5px;
        }
    }
}