$defaultFontSize: 1rem;

.lemonade-properties {
    #properties-form {
        height: calc(100vh - 331px); width: 100%;
        padding: 2px;

        fieldset {
            padding: 5px;
            border: 1px solid #ccc;
            legend {
                font-size: 12pt;
                margin: 5px 0 0 0;
                width: inherit;
                border: 0;
            }
            p {
                padding: 0;
                margin: 5px 0 0 0;
            }
        }
    }

    .card-block {
        padding: 5px !important;
    }
    .property-description {
        background: #eee;
        border: 1px solid #222;
        bottom: 10px;
        font-size: $defaultFontSize;
        height: 100px;
        padding: 2px; 
        position: absolute;
        width: calc(100% - 6px);
        left: 4px;
    }

    table {
        font-size: $defaultFontSize;
        
        .form-control {
            font-size: $defaultFontSize;
        }
        td, th {
            padding: 5px;
        }
    }
    .v-select {
        $baseBackground: #d9edf7;
        .selected-tag {
            background: $baseBackground;
            color: darken($baseBackground, 80%);;
        }
        .dropdown-toggle {
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
            min-height: 40px;
            input {
                min-height: 40px;
            }
        }
        .dropdown-toggle::after {
            border: none;
        }
        ul {
            border-top: 1px solid #aaa;
            li {
                border-bottom: 1px solid #fff;
                border-top: none;
            }
        }
        a { 
            display: block;
            padding:5px;
            width: 100%;
        }
        .highlight {
            a { 
                background: darken($baseBackground, 20%);
                color: darken($baseBackground, 80%);
            }
        }
        .active {
            a {    
                background: $baseBackground;
                color: darken($baseBackground, 80%);
            }
        }
    }
}
