<div>
    <label>Field selection</label>
    <v-select multiple :value.sync="selected" :options="options"></v-select>

        <h4>Charts</h4>
        <div class="radio radio-primary">
            <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-pie-chart"></span> Pie chart</label><br/>
            <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-line-chart"></span> Line chart</label><br/>
            <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-bar-chart"></span> Bar chart</label><br/>
            <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-area-chart"></span> Area chart</label><br/>
        </div>
        <h4>Other</h4>
        <div class="radio radio-primary">
        <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-table"></span> Table</label><br/>
        <input type="radio" name="clean-option" id="clean-missing-entire" /> <label for="clean-missing-entire"><span class="fa fa-map"></span> Map</label><br/>
        </div>

</div>