<div class="card operation">
    <div class="card-header card-primary card-inverse">
        {{title}}
    </div>
    <ul class="nav nav-list">
        <li class="drop-menu-item" v-for="operations in groupedOperations">
            <a href="#" v-on:click="toggle"><span class="fa-caret-right fa"></span> {{ $key }} </a>
            <ul class="nav nav-list tree slide-down">
                <div v-for="op in operations">
                    <toolbox-component :operation="op" />
                </div>
            </ul>
        </li>
    </ul>
</div>